# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# db stuff
cmpdb.db
cmpdbOG.db
create-tables.txt
desktop.ini
response.json())
package-lock.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# frontend ignores
/frontend/node_modules
/frontend/.gitignore
/frontend/README.md
/frontend/package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*